header {
    background: none repeat scroll 0 0 #c0c0c0;
    color: #000000;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #c0c0c0;
    color: #000000;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}